[Unit]
Description=noaaalerts
After=multi-user.target

[Service]
ExecStart=/home/pi/data/github.com/claytantor/noaa-alerts-python/venv/bin/python -u /home/pi/data/github.com/claytantor/noaa-alerts-python/app.py --config /home/pi/data/github.com/claytantor/noaa-alerts-python/config.yml
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=noaaalerts
Restart=always
User=root

[Install]
WantedBy=multi-user.target
